{% extends 'CoyoteSiteBundle:Expense:index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/script_timeusers.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/script_timeusers_change.js') }}"/></script>
{% endblock %}

{% block content %}
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    		<th id='tab_expense_site'>Site</th>
    		<th id='tab_expense_date'>Date</th>
    		<th id='tab_expense_item'>Code Article</th>
    		<th id='tab_expense_devise'>Devise</th>
    		<th id='tab_expense_qte'>Quantité</th>
    		<th id='tab_expense_amount'>Montant réel</th>
    		<th id='tab_expense_amounttc'>Montant TTC</th>
    		<th id='tab_expense_amounttva'>Montant TVA</th>
    		<th id='tab_expense_business'>Affaire</th>
    		<th id='tab_expense_comment'>Commentaire</th>
    	</tr>
    	<tr>
    		<th id='tab_expense_site'>
    			<select name='site' id='site'>
    				<option value='vide'></option>
    				<option value='USI'><selected></option>
    				<option value='POL'></option>
    			</select>
    		</th>
    		<th id='tab_expense_date'><input type='text' name='date' id='date' ></th>
    		<th id='tab_expense_item'>
    			<select name='article' id='article' class='itemfrais'>
    				<option value='vide'></option>
    				<option value="item"></option>
    			</select>
    		</th>
    		<th id='tab_expense_devise'>
    			<select name='devise' id='devise$boucle' tabindex='$index'>
    				<option value='vide'></option>
    				<option selected value="currency"></option>
    				<option value="currency"></option>
    			</select>
    		</th>
    		<th id='tab_expense_qte'><input type='text' name='qte' id='qte$boucle' ></th>
    		<th id='tab_expense_amount'><input type='text' name='reel' id='reel' ></th>
    		<th id='tab_expense_amountttc'><input type='text' name='ttc' id='ttc' ></th>
    		<th id='tab_expense_amounttva'><input type='text' name='tva' id='tva' disabled></th>
    		<th id='tab_expense_business'>
    			<select name='affaire' id='affaire' >
    			    <option value="business"></option>
    			</select>
    		</th>
    		<th id='tab_expense_comment'><input type='text' name='com' id='com' ></th>
    	</tr>
    </table>
</div><br>
<a id='save' class='bntsave'>Enregistrer</a>

{% endblock %}