# Bootstrap
app/bootstrap*

# Symfony directories
vendor_/*
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/presence/*

# Configuration files
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml

# Composer
composer.phar

# Data
src/Coyote/SiteBundle/DataFixtures/*
/vendor/

.settings/org.eclipse.wst.common.project.facet.core.xml

/src/Coyote/SiteBundle/Entity/*.php~