{% extends 'CoyoteAttendanceBundle:Schedule:index.html.twig' %}

{% block content %}
    <blockquote>
        <p>
            {{ "schedule.title.overtime"|trans }} :
            {% if overtime %}
                {{overtime}}
            {% endif %}
        </p>
    </blockquote>
{% endblock %}