{% extends 'CoyoteFrontBundle:Base:base.html.twig' %}

{% block nav %}
    {{ include('CoyoteFrontBundle:Base:navigation.html.twig') }}
{% endblock nav %}

{% block content %}
    <div>
        <p class="lead">{{'accueil.menu.message'|trans }}<br>
        {% if quote %}
            {% if app.request.locale == "fr" %}
                <blockquote>
                    <p>"{{quote.0.citation}}"</p>
                    <small><cite title="Source Title">{{quote.0.author}}</cite></small>
                </blockquote>
            {% endif %}
        {% endif %}
        </p>
    </div>
{% endblock %}