{% extends 'CoyoteFrontBundle:Base:base.html.twig' %}

{% block nav %}
    {{ include('CoyoteFrontBundle:Base:navigation.html.twig') }}
{% endblock nav %}

{% block content %}
    <div>
        <p class="lead">{{'accueil.menu.message'|trans }}</p>
    </div>
{% endblock %}