{% extends 'CoyoteSiteBundle:Base:base.html.twig' %}

{% block nav %}
    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <p class="lead">{{ 'Bienvenue sur le site Pichon'|trans }}
            <br><br>
            Partie Administration
            <br>
        </p>
    </div>
{% endblock %}