{% extends "CoyoteSiteBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block link %}
    
    {{ include('CoyoteSiteBundle::navigation_login.html.twig') }}
	
{% endblock %}

{% block content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
