{% extends 'CoyoteSiteBundle:Config:pageun.html.twig' %}

{% block content %}
<form role="form" action="{{ path('coyote_configurator_pagesix') }}" method='post'>
    <p>Compresseurs</p>
    <p>Les données sont en traitement aucune information pour le moment</p>
    <button class='btnpage' type="submit" value="Afficher" id="afficher">{{ 'Afficher'|trans }}</button>
</form>
{% endblock %}