{% extends 'CoyoteSiteBundle:Schedule:index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <p class="lead">{{ "schedule.title.overtime"|trans }}<br>
        {% if overtime %}
            {{overtime}}
        {% endif %}
        </p>
    </div>
{% endblock %}